<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2018 Apple Inc. and the ServiceTalk project authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<Configuration status="info">
  <Properties>
    <Property name="rootLevel">${sys:servicetalk.logger.rootLevel:-INFO}</Property>
    <Property name="wireLogLevel">${sys:servicetalk.logger.wireLogLevel:-OFF}</Property>
    <Property name="h2FrameLogLevel">${sys:servicetalk.logger.h2FrameLogLevel:-OFF}</Property>
    <Property name="lifecycleObserverLogLevel">${sys:servicetalk.logger.lifecycleObserverLogLevel:-OFF}</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %30t [%-5level] %-30logger{1} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="servicetalk-tests-wire-logger" level="${wireLogLevel}"/>
    <Logger name="servicetalk-tests-h2-frame-logger" level="${h2FrameLogLevel}"/>
    <Logger name="servicetalk-tests-lifecycle-observer-logger" level="${lifecycleObserverLogLevel}"/>
    <Root level="${rootLevel}">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
