# virtual machine crash logs, see https://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
/.idea
*.iml
/*.ipr
/*.iws
**/out/
/.shelf/

# Gradle
.gradle/
.out/
build/
/buildSrc/.gradle/
.dist/

# Maven
target/

# Eclipse
/bin/
/.settings/
/.project
/.classpath
/build/

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# VSCode
.vscode/
bin/

# Mac
.DS_Store

# Generated Code
generated/

# Java Hotspot
.attach_pid*

# Node
npm-debug.log

# Generic
.ignore

# CI
jenkins/

# Temp files for scripts/update-copyright.sh
/update-copyright-modified-files
/update-copyright-temp
