<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://github.com/apple/servicetalk">
          <img class="navbar-logo" src="{{{siteRootPath}}}/_/img/servicetalk.png" alt="ServiceTalk logo" />
          <span>ServiceTalk</span>
        </a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
    </div>
  </nav>
</header>
