<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://github.pie.apple.com/servicetalk/servicetalk">ServiceTalk</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
    </div>
  </nav>
</header>
