<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2018, 2021 Apple Inc. and the ServiceTalk project authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<Configuration status="info">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %30t [%-5level] %-30logger{1} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- Enables wire logging and h2-frame logging messages -->
    <Logger name="servicetalk-examples-wire-logger" level="TRACE"/>
    <Logger name="servicetalk-examples-h2-frame-logger" level="TRACE"/>

    <!-- Additional useful loggers of interest - include relevant loggers in your log4j2.xml file -->

    <!-- Prints server start and shutdown -->
    <Logger name="io.servicetalk.http.netty.H2ServerParentConnectionContext" level="DEBUG"/>

    <!-- Prints default subscriber errors-->
    <Logger name="io.servicetalk.concurrent.api" level="DEBUG"/>

    <!-- Gives visibility into internal state of the LoadBalancer -->
    <Logger name="io.servicetalk.loadbalancer" level="DEBUG"/>

    <!--  Prints results of each DNS resolution -->
    <Logger name="io.servicetalk.dns.discovery.netty" level="DEBUG"/>
    <Logger name="io.netty.resolver.dns" level="DEBUG"/>

    <!-- Gives visibility into HTTP processing -->
    <Logger name="io.servicetalk.http" level="DEBUG"/>

    <!-- Gives visibility for transport events. -->
    <Logger name="io.servicetalk.transport" level="DEBUG"/>

    <!-- Use `-Dservicetalk.logger.level=INFO` to change the root logger level via command line  -->
    <Root level="${sys:servicetalk.logger.level:-DEBUG}">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
