name: PR Quality
permissions:
  contents: read
on:
  pull_request:
    branches: [ main, '0.41', '0.42' ]
    paths-ignore:
      - 'scripts/**'
      - '.github/pull_request_template.md'
      - '.gitignore'
      - 'gradlew'
      - 'gradlew.bat'
      - '*.adoc'
      - '*.txt'
jobs:
  quality:
    name: JDK ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11 ] # These are the JDK's we publish artifacts with.
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: |
            17
            ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'gradle'
      - name: Print JDK Version
        run: java -version
      - name: Set Gradle Environment
        run: echo "GRADLE_OPTS=-Dorg.gradle.java.home=$JAVA_HOME_17_${{ runner.arch }}" >> "$GITHUB_ENV"
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Documentation Linter
        run: bash scripts/check-source-root.sh
      - name: Gradle lockfiles validation
        run: bash scripts/check-lockfiles.sh
      - name: Clean Gradle project
        run: ./gradlew --parallel clean
      - name: Build with Gradle
        run: ./gradlew --parallel -Pdependency.analysis.print.build.health=true quality
      - name: Upload CheckStyle Results
        if: always()
        uses: actions/upload-artifact@v7
        with:
          name: checkstyle-results-${{ matrix.java }}
          path: '**/build/reports/checkstyle/*.xml'
      - name: Upload PMD Results
        if: always()
        uses: actions/upload-artifact@v7
        with:
          name: pmd-results-${{ matrix.java }}
          path: '**/build/reports/pmd/*.xml'
      - name: Upload SpotBugs Results
        if: always()
        uses: actions/upload-artifact@v7
        with:
          name: spotbugs-results-${{ matrix.java }}
          path: '**/build/reports/spotbugs/*.xml'
