name: PR Builder Reports
on:
  workflow_run:
    workflows: [ "PR Builder" ]
    types:
      - completed
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      # Matrix should be coordinated with ci-prb.yml.
      matrix:
        java: [ 8, 11, 17, 20 ]
        os: [ ubuntu-latest ]
    steps:
      - name: Download Artifacts
        uses: dawidd6/action-download-artifact@246dbf436b23d7c49e21a7ab8204ca9ecd1fe615
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ${{ github.event.workflow_run.workflow_id }}
          workflow_conclusion: completed
          commit: ${{ github.event.workflow_run.head_commit.id }}
          # File location set in ci-prb.yml and must be coordinated.
          name: test-results-${{ matrix.os }}-${{ matrix.java }}
      - name: Publish Test Report
        uses: scacap/action-surefire-report@48452168d92461c5ded1ca1afe210e4a99f32d33
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/test-results/test/TEST-*.xml'
          commit: ${{ github.event.workflow_run.head_commit.id }}
          check_name: Test Report JDK ${{ matrix.java }} ${{ matrix.os }}
