name: PR Builder
permissions:
  contents: read
on:
  pull_request:
    branches: [ main, '0.41', '0.42' ]
    paths-ignore:
      - 'docs/**'
      - 'scripts/**'
      - '.github/pull_request_template.md'
      - '.gitignore'
      - 'gradlew'
      - 'gradlew.bat'
      - '**.adoc'
      - '**.txt'
jobs:
  build:
    name: JDK ${{ matrix.java }} ${{ matrix.os_label }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ 8, 11, 17, 21, 24 ]
        os: [ ubuntu-latest ]
        os_label: [ ubuntu ]
        include:
          - java: 11
            os: [self-hosted, macos, general]
            os_label: macos
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'gradle'
      - name: Print JDK Version
        run: java -version
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Clean Gradle project
        run: ./gradlew --parallel clean
      # https://github.community/t/error-the-paging-file-is-too-small-for-this-operation-to-complete/17141
      - name: Configure Windows Pagefile
        if: ${{ runner.os == 'Windows' }}
        # v1.2
        uses: al-cheb/configure-pagefile-action@a3b6ebd6b634da88790d9c58d4b37a7f4a7b8708
        with:
          minimum-size: 8GB
          maximum-size: 16GB
      - name: Build and Test (Linux)
        if: runner.os == 'Linux'
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run:  sudo -E env "PATH=$PATH" bash -c "ulimit -l 65536 && ulimit -a && ./gradlew --no-daemon --parallel test"
      - name: Build and Test (non-Linux)
        if: runner.os != 'Linux'
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run: ./gradlew --no-daemon --parallel test
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.os_label }}-${{ matrix.java }}
          path: '**/build/test-results/test/TEST-*.xml'
