name: PR Builder
permissions:
  contents: read
on:
  pull_request:
    branches: [ main, '0.41', '0.42' ]
    paths-ignore:
      - 'docs/**'
      - 'scripts/**'
      - '.github/pull_request_template.md'
      - '.gitignore'
      - 'gradlew'
      - 'gradlew.bat'
      - '**.adoc'
      - '**.txt'
jobs:
  build:
    name: JDK ${{ matrix.java }} ${{ matrix.os_label }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ 8, 11, 17, 21, 25 ]
        os: [ ubuntu-latest ]
        os_label: [ ubuntu ]
        include:
          - java: 11
            os: [self-hosted, macos, general]
            os_label: macos
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }} and JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: |
            ${{ matrix.java }}
            17
          distribution: 'zulu'
          cache: 'gradle'
      - name: Print JDK Versions
        run: |
          echo "Gradle will run on JDK 17:"
          java -version
          echo "Tests will run on JDK ${{ matrix.java }}:"
          if [ -d "$JAVA_HOME_${{ matrix.java }}_${{ runner.arch }}" ]; then
            "$JAVA_HOME_${{ matrix.java }}_${{ runner.arch }}/bin/java" -version
          fi
      - name: Set Test Java Version
        run: echo "TEST_JAVA_VERSION=${{ matrix.java }}" >> "$GITHUB_ENV"
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Clean Gradle project
        run: ./gradlew --parallel clean
      # https://github.community/t/error-the-paging-file-is-too-small-for-this-operation-to-complete/17141
      - name: Configure Windows Pagefile
        if: ${{ runner.os == 'Windows' }}
        # v1.2
        uses: al-cheb/configure-pagefile-action@9b6da52fb72a3c6147c1aad2df22d8d905681adc
        with:
          minimum-size: 8GB
          maximum-size: 16GB
      - name: Build and Test (Linux)
        if: runner.os == 'Linux'
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run:  sudo -E env "PATH=$PATH" bash -c "ulimit -l 65536 && ulimit -a && ./gradlew --no-daemon --parallel test"
      - name: Build and Test (non-Linux)
        if: runner.os != 'Linux'
        env:
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run: ./gradlew --no-daemon --parallel test
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-results-${{ matrix.os_label }}-${{ matrix.java }}
          path: '**/build/test-results/test/TEST-*.xml'
