name: PR Builder Reports
permissions:
  contents: read
on:
  workflow_run:
    workflows: [ "PR Builder" ]
    types:
      - completed
jobs:
  tests:
    permissions:
      contents: read
      actions: read
      checks: write
    runs-on: ubuntu-latest
    strategy:
      # Matrix should be coordinated with ci-prb.yml.
      matrix:
        java: [ 8, 11, 17, 21, 24 ]
        os: [ ubuntu-latest ]
        os_label: [ ubuntu ]
        include:
          - java: 11
            os: [self-hosted, macos, sequoia]
            os_label: macos
    steps:
      - name: Download Artifacts
        uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ${{ github.event.workflow_run.workflow_id }}
          workflow_conclusion: completed
          commit: ${{ github.event.workflow_run.head_commit.id }}
          # File location set in ci-prb.yml and must be coordinated.
          name: test-results-${{ matrix.os_label }}-${{ matrix.java }}
      - name: Publish Test Report
        uses: scacap/action-surefire-report@5609ce4db72c09db044803b344a8968fd1f315da
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/test-results/test/TEST-*.xml'
          commit: ${{ github.event.workflow_run.head_commit.id }}
          check_name: Test Report JDK ${{ matrix.java }} ${{ matrix.os_label }}
