name: PR Builder
on:
  pull_request:
    branches: [ main, '0.41' ]
jobs:
  build:
    name: Build JDK ${{ matrix.java }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [ 8, 11, 16 ]
        os: [ ubuntu-latest ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
      - name: Print JDK Version
        run: java -version
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Cache Gradle Packages
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      # https://github.community/t/error-the-paging-file-is-too-small-for-this-operation-to-complete/17141
      - name: Configure Windows Pagefile
        if: ${{ runner.os == 'Windows' }}
        # v1.2
        uses: al-cheb/configure-pagefile-action@7e234852c937eea04d6ee627c599fb24a5bfffee
        with:
          minimum-size: 8GB
          maximum-size: 16GB
      - name: Build and Test
        env:
          CI: true
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF-8
        run: ./gradlew --parallel clean test
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.java }}
          path: '**/build/test-results/test/TEST-*.xml'
