name: PR Quality
on:
  pull_request:
    branches: [ main, '0.41', '0.42' ]
jobs:
  quality:
    name: JDK ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11.58.23, 17 ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'gradle'
      - name: Print JDK Version
        run: java -version
      - name: Make gradlew Executable
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew --parallel clean quality
      - name: Upload CheckStyle Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: checkstyle-results-${{ matrix.java }}
          path: '**/build/reports/checkstyle/*.xml'
      - name: Upload PMD Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: pmd-results-${{ matrix.java }}
          path: '**/build/reports/pmd/*.xml'
      - name: Upload SpotBugs Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: spotbugs-results-${{ matrix.java }}
          path: '**/build/reports/spotbugs/*.xml'
